body{
    background-color: #222;
    font-family: verdana;
    font-size: 100%;
    color: #fff;
}
section{
    background-color: #fff;
    color: #333;
    width: 510px;
    height: 150px;
    padding: 10px;
    margin: auto;
}
fieldset{
    width: 480px;
    margin: auto;
    border: 3px slolid #ddd;
    border-radius: 5px;
}
.btn{
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.campo{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    border: 1px solid #ddd;
}