body{
    background-color: #ccc;
    font-family: verdana;
    font-size: 95%;
}

section{
    width: 720px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
}

fieldset{
    width: 700px;
    margin: auto;
    border: 3px slolid #ddd;
    border-radius: 5px;
}

.campos{
    width: 250px;
    height: 20px;
    border: 1px slolid #ddd;
    border-radius: 3px;
    margin-top: 5px;
}