body{
    background-color: #222;
}
p{
    font-size: 40px;
    font-family: verdana;
    color: #fff;
    text-align: center;
}

a{
    color: #fff;
    text-decoration:none;
}

ul{
    list-style-type: none;
}

ul li {
    font-family: verdana;
    background-color: rgba(204, 204, 204, 0.226);
    width: 200px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    float: right;
    list-style: none;
    text-transform:uppercase;
    position: absolute;
    top: 10px;
    left:1100px;
    text-align: center;
}

.banner{
    width: 1200px;
    height: 480px;
    margin:auto;
    animation: slide 30s infinite;
}

@keyframes slide{
    0%, 10%{
        background-image: url(../_imagens/foto1.jpg);
    }
    15%, 25%{
        background-image: url(../_imagens/foto2.jpg);
    }
    30%, 40%{
        background-image: url(../_imagens/foto3.jpg);
    }
    45%, 55%{
        background-image: url(../_imagens/foto4.jpg);
    }
    60%, 70%{
        background-image: url(../_imagens/foto5.jpg);
    }
    75%,85%{
        background-image: url(../_imagens/foto6.jpg);
    }
    90%, 100%{
        background-image: url(../_imagens/foto7.jpg);
    }
}